[submodule ".registry"]
	path = .registry
	url = https://github.com/edzer/universe
	branch = HEAD
[submodule "hexbin"]
	path = hexbin
	url = https://github.com/edzer/hexbin
[submodule "intervals"]
	path = intervals
	url = https://github.com/edzer/intervals
[submodule "sp"]
	path = sp
	url = https://github.com/edzer/sp
[submodule "spacetime"]
	path = spacetime
	url = https://github.com/edzer/spacetime
[submodule "trajectories"]
	path = trajectories
	url = https://github.com/edzer/trajectories
[submodule "vardiag"]
	path = vardiag
	url = https://github.com/edzer/vardiag
